#!/bin/sh

cat << EOF

              ************************************
              * VPS by ansible kekekekkekekekeke *
              ************************************

    OS:             {{ ansible_distribution }} {{ ansible_distribution_version }}
    Hostname:       {{ ansible_hostname }}
{% for ip in ansible_all_ipv4_addresses %}
    IP addresses:   {{ ip }}
{% endfor %}
    vCPU:           {{ ansible_processor_vcpus }}
    RAM:            {{ ansible_memory_mb.real.total }} MB

EOF
